<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/reset.css">
  <title>DnF User Searcher</title>
</head>
<body>
  <div class="userTab">
    <% if(user) { %>
      <span>메인 캐릭터</span>
      <div class="mainChar">
        <% if(user.mainchar) { %>
          <div class="mainCharInfo" data-id="<%=user.mainchar%>" data-server="<%=user.server%>" data-uid="<%=user.id%>">
          </div>
        <% }else{ %>
          <span class="noMainCharInfo" data-uid="<%=user.id%>">메인캐릭터를 설정하세요</span>
        <% } %>
      </div>
      <form action="/logout" method="post">
        <input type="submit" value='로그아웃'>
      </form>
    <% }else{ %>
      <span class="signUp">회원가입</span>
      <span class="signIn">로그인</span>
    <% } %>
  </div>
  <div class="contentWrap">
    <form class="searchForm">
      <div>
        <input class="searchText" type="text" name="searchName" placeholder="유저 이름을 검색하세요.">
      </div>
      <div>
        <input class="search" type="submit" value="찾기!">
      </div>
    </form>
    <div class="resultContent">
      <div class="userDetail">
      </div>
      <div class="userContent">
      </div>
      <div class="btnContent">
      </div>
    </div>
  </div>
  <script src="./js/main.js" type="module"></script>
</body>
</html>