@font-face {
  font-family : THE_Hong;
  src : url('./font/THE_HongChawangjanemo.ttf');
}
* {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
  text-decoration : none;
  list-style : none;
  color : black;
  font-family : THE_Hong;
  font-size : 1.5vw;
}

.alert {
  text-align : center;
}

/* input autofill 초기화 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}